<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--Аппендеры -->
    <!--Файловый аппендер -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/issuers-securities-sync.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/issuers-securities-sync_%d{yyyy-MM-dd-HH}.log.zip</fileNamePattern>
            <maxHistory>440</maxHistory>
        </rollingPolicy>
    </appender>

    <!--Консольный аппендер -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <!-- UTF-8  cp866 cp1251-->
            <Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
        <!--  <layout class="ch.qos.logback.classic.PatternLayout">
              <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
          </layout>-->
    </appender>


    <root level="info">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </root>


</configuration>